.order-list {
  display: flex;
  flex-wrap: wrap;
}

.order-item {
  width: calc(50% - 20px); /* Adjust width as needed */
  margin: 0 10px 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .order-item {
    width: 100%; /* Set to full width on mobile */
  }
}
